version: 2.1

orbs:
  python: circleci/python@1.3.0
  snyk: snyk/snyk@0.2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: pip install --no-cache-dir -r requirements.txt
      - run:
          name: Ejecutar pruebas
          command: pytest --cov=app --cov-report=xml
      - run:
          name: An치lisis est치tico de c칩digo con pylint
          command: pylint app
      - run:
          name: Linting con flake8
          command: flake8 app
      - run:
          name: Construir imagen Docker
          command: docker build -t $DOCKERHUB_REPO:latest .

  push_docker:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Iniciar sesi칩n en Docker Hub
          command: echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      - run:
          name: Construir imagen Docker
          command: docker build -t $DOCKERHUB_REPO:latest .
      - run:
          name: Etiquetar imagen con el commit SHA
          command: docker tag $DOCKERHUB_REPO:latest $DOCKERHUB_REPO:${CIRCLE_SHA1}
      - run:
          name: Subir imagen a Docker Hub
          command: |
            docker push $DOCKERHUB_REPO:latest
            docker push $DOCKERHUB_REPO:${CIRCLE_SHA1}

  vulnerability_scan:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - snyk/scan:
          command: "snyk test"

workflows:
  version: 2
  build_test_and_push:
    jobs:
      - build
      - vulnerability_scan:
          requires:
            - build
      - push_docker:
          requires:
            - build
            - vulnerability_scan
          filters:
            branches:
              only:
                - master
                - main
